apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: dotnet9-app
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5065
  type: ClusterIP
